<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %} Clinica {% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="{% static 'assets/bootstrap.min.css' %}" media="screen" />
	<link rel="stylesheet" href="{% static 'assets/custom.min.css' %}" media="screen" />
	<link rel="stylesheet" href="{% static 'assets/extra.css' %}" media="screen" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'index'%}" class="navbar-brand">Clinica</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'medicos:medicos_lista'%}">Medicos</a>
            </li>
            <li>
              <a href="{% url 'clientes:consulta_create'%}">Consultar</a>
            </li>
            {% if user.is_staff or user.is_superuser %}
            <li>
              <a href="{% url 'medicos:agendar_consulta'%}">Cadastrar Agenda</a>
            </li>
            <li>
              <a href="{% url 'medicos:medico_cadastro'%}">Cadastrar Médico</a>
            </li>
            <li>
              <a href="{% url 'medicos:especialidade_cadastro'%}">Cadastrar Especialidade</a>
            </li>
             <li>
              <a href="{% url 'clientes:plano_cadastro'%}">Cadastrar Plano</a>
            </li>
            <li>
              <a href="{% url 'clientes:graficoplanos' %}">Dados Planos</a>
            </li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="{% url 'accounts:index' %}">Conta</a></li>
              <li><a href="{% url 'accounts:logout' %}">Sair</a></li>
            {% else %}
              <li><a href="{% url 'accounts:login' %}">Entrar</a></li>
              <li><a href="{% url 'accounts:register' %}">Registro</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container margin-top">
    {% block messages %}
      {% for message in messages %}
        <div class='alert alert-{{ message.tags}}'>
        {{ message }}
        </div>
      {% endfor %}
    {% endblock messages %} 
		{% block container %} {% endblock %}
  </div>
    {% block footer %}
    <footer class="text-center text-muted text-lg-start" style="background-color: rgba(44, 62, 80, 100);>
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0" style="background-color: rgba(44, 62, 80, 100); >
        <h5 class="text-uppercase">Footer text</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
          aliquam voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0" style="background-color: rgba(44, 62, 80, 100); >
        <h5 class="text-uppercase">Footer text</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
          aliquam voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(44, 62, 80, 100);">
    <p class="text-muted">© 2020 Copyright: MDBootstrap.com</p>
  </div>
  <!-- Copyright -->
</footer>
    {% endblock footer %}

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://kit.fontawesome.com/c2a3297ec9.js" crossorigin="anonymous"></script>
  <script src="{% static 'assets/bootstrap.min.js'%}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>