{% extends "base.html" %}

{% block title %}
    Medicos
{% endblock %}

{% block container %}
<h1>Médicos</h1>
{% if user.is_staff or user.is_superuser %}
<a href="{% url 'medicos:relatorio_medicos' %}">Clique aqui para ver o relatório dos médicos</a>
{% endif %}
    <div class="container">
        <div class="row">
            <div class="row-md-4 row-md-offset-4">
        {% for medico in object_list %}

            <img height="300" width="350" src="{{ medico.foto.url }}">
                <h4>Nome: {{ medico.nome }}</h4>
            <h4>Especialidade: {{ medico.especialidade }}</h4> <br/>

        {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}