{% extends "accounts/index.html" %}

{% block title %}
   Plano de Saúde
{% endblock %}

{% block accounts_container %}
<h2>Plano</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nome
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        {% for plano in object_list %}
        <tr>
            <td>
                <a href=""># {{ plano.pk }}</a>
            </td>
            <td>
                {{ plano.plano }}
            </td>
            <td>
                <a href="{% url 'clientes:plano_delete' plano.id %}" class="mr-1 text-danger" style="padding-left: 10px; text-decoration: none;">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}